<h1>Categories#show</h1>
<p>
	<strong>Name:</strong>
	<%= @category.name %>
</p>

<!-- SHOWArticles -->
<h2>Articles</h2>
<table>
	<tr>
		<th>name</th>
		<th colspan="3"></th>
	</tr>


<%= render @category.apps%>

</table>


<!--ADDArticles-->

<h2>add app:</h2>
<%= render 'apps/form'%>


<!-- links -->

<%= link_to 'back', categories_path%>
<%= link_to 'edit', edit_category_path(@category)%>
