<%= form_for @top10 do |f|%>

<% if @top10.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@top10.errors.count, "error")%> prohibited this top10 for being saved:
		</h2>
		<ul>
			<% @top10.errors.full_messages.each do |msg| %>
			<li><%= msg%></li>
			<% end %>
		</ul>
	</div>
	<% end %>


	<p>
		<%= f.label :rank%><br>
		<%= f.number_field :rank %>
	</p>

	<p>
		<%= f.submit%>
	</p>
	<%end%>