<%= form_for([@category, @category.apps.build]) do |f|%>
	<p>
		<%= f.label :name%><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :url%><br>
		<%= f.text_area :url%>
	</p>

	<p>
		<%= f.label :price%><br>
		<%= f.number_field :price%>
	</p>

<h2>add pros:</h2>
<%= render 'pros/form'%>
<h2>add cons:</h2>
<%= render 'cons/form'%>
<h2>add cons:</h2>
<%= render 'top10s/form'%>

	<p>
		<%= f.submit%>
	</p>
	<%end%>