<%= form_for ([@category, @category.apps.build]) do |f|%>
	<p>
		<%= f.label :name%><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :url%><br>
		<%= f.text_field :url%>
	</p>

	<p>
		<%= f.label :price%><br>
		<%= f.number_field :price%>
	</p>
	<p>
		<%= f.label :Description%><br>
		<%= f.text_area :description%>
	</p>

	<p>
		<%= f.label :analysis%><br>
		<%= f.text_area :analysis%>
	</p>

	<p>
		<%= f.submit%>
	</p>
	<%end%>