<%= form_for @app do |f|%>
	<p>
		<%= f.label :name%><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :url%><br>
		<%= f.text_field :url%>
	</p>

	<p>
		<%= f.label :price%><br>
		<%= f.number_field :price%>
	</p>
	<p>
		<%= f.label :Description%><br>
		<%= f.text_area :description%>
	</p>

	<p>
		<%= f.label :analysis%><br>
		<%= f.text_area :analysis%>
	</p>
	<h2>listed pros</h2>
	<p>New pro: <%= link_to 'new', new_app_pro_path(@app)%></p>	
	<table>
		<tr>
			<th>description</th>
			<th colspan="2"></th>
		</tr>
		<%= render @app.pros%>
	</table>

	<h2>listed cons</h2>
	<p>New con: <%= link_to 'new', new_app_con_path(@app)%></p>	
	<table>
		<tr>
			<th>description</th>
			<th colspan="2"></th>
		</tr>
		<%= render @app.cons%>
	</table>


	

	<p>
		<%= f.submit%>
	</p>
	<%end%>