<%= form_for @app do |f|%>
	<div class="row">
		<div class="large-5 columns">
			<%= f.label :name%>
			<%= f.text_field :name %>

			<%= f.label :url%>
			<%= f.text_field :url%>

			<%= f.label :price%>
			<%= f.number_field :price%>

			<%= f.label :Description%>
			<%= f.text_area :description%>

			<%= f.label :analysis%>
			<%= f.text_area :analysis%>

			<%= f.submit%>
		</div>
	
		<div class="large-5 columns">
			<h2>Listed pros</h2>
			<div class="button secondary">
				<%= link_to 'New pro', new_app_pro_path(@app)%>
			</div>
			<table>
				<tr>
					<th>description</th>
					<th colspan="2"></th>
				</tr>
				<%= render @app.pros%>
			</table>

			<h2>Listed cons</h2>
			<div class="button secondary">
				<%= link_to 'New con', new_app_con_path(@app)%>
			</div>
			<table>
				<tr>
					<th>description</th>
					<th colspan="2"></th>
				</tr>
				<%= render @app.cons%>
			</table>

			<!-- SHOW top10-->
			<h2>Top 10</h2>
			<% if @app.top10s.any? %>
				<table>
					<tr>
						<th>rank</th>
						<th colspan="2"></th>
					</tr>
					<%= render @app.top10s %>
				</table>
			<% else %>
				<div class="button secondary">
					<%= link_to 'New in Top 10', new_app_top10_path(@app)%>
				</div>
			<% end %>
			
			<!-- show image-->
			<h2>Images</h2>
			<%= render @app.images %>

			<h6>Add new image</h6>
			<%= render 'images/form' %>
		</div>
	</div>

<%end%>