<div class="row">
	<div class="large-9 large-offset-3 columns">
		<h1>Application <%= @app.name.capitalize %></h1>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<div class="button secondary">
			<%= link_to 'back', category_path(@app.category_id)%>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<strong>Name:</strong>
		<%= @app.name %><br>

		<strong>url:</strong>
		<%= @app.url %><br>

		<strong>price:</strong>
		<%= @app.price %><br>

		<strong>description:</strong>
		<%= @app.description %><br>

		<strong>analysis:</strong>
		<%= @app.analysis %><br>

		<div class="button secondary">
			<%= link_to 'edit', edit_app_path(@app)%>
		</div>
	</div>


	<div class="large-6 columns">
		<!-- SHOWPros -->
		<h2>Listed pros</h2>
		<table>
			<tr>
				<th>description</th>
				<th colspan="2"></th>
			</tr>
		<%= render @app.pros%>
		</table>

		<!-- SHOW Cons-->
		<h2>Listed cons</h2>
		<table>
			<tr>
				<th>description</th>
				<th colspan="2"></th>
			</tr>
		<%= render @app.cons%>
		</table

		<!-- SHOW top10-->
		<h2>Top 10</h2>
		<% if @app.top10s.any? %>
			<table>
				<tr>
					<th>rank</th>
					<th colspan="2"></th>
				</tr>
				<%= render @app.top10s %>
			</table>
		<% else %>
			<div class="button secondary">
				<%= link_to 'New in Top 10', new_app_top10_path(@app)%>
			</div>
		<% end %>

		<!-- show images -->
		<h2>Images</h2>
		<%= render @app.images %>

		<h6>Add new image</h6>
		<%= render 'images/form' %>
	</div>
</div>




